<!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title — приложение ASP.NET MVC</title>
        @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
        <meta name="viewport" content="width=device-width" />
        @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
        @*<link href="~/Content/Site.css" rel="stylesheet" />*@
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

        <script src="~/Scripts/MicrosoftMvcValidation.js"></script>
        <script src="~/Scripts/MicrosoftMvcAjax.js"></script>
        <script src="~/Scripts/MicrosoftAjax.js"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Ваша эмблема здесь", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div id="main">
                    @RenderBody()
                </div>
                <div id="footer">
                </div> 
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year — приложение My Big Shop ExtJS</p>
                </div>
            </div>
        </footer>

        @*@Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
